@import url('https://fonts.googleapis.com/css?family=Slabo');
@import "partials/colors.scss";
html {
	height: 100%;
	margin: 0;
}
body {
	height: 100%;
	margin: 0;
	color: $primary;
	background-color: $accent;
	font-family: 'Slabo', serif;
	.col-lg-4,.col-sm-4 {
		padding: 20px;
		border-bottom: 1px solid;
	}
	nav {
		min-width: 100%;
		padding: 10px;
		font-weight: bolder;
		font-size: 16px;
		margin-bottom: 15px;
		color: $accent;
		background: $primary;
		font-size: 0.65em;
		font-style: italic;
		}
	}
	.wrapper {
		min-height: 100%;
		margin-bottom: -50px;
	}
	.fa-arrow-up,.fa-arrow-down {
		margin: 3px;
		float: right;
		cursor: pointer;
	}
	.footer, .push {
		height: 50px;
	}
	.container {
		text-align: center;
		form {
			input[type="text"] {
				border: none;
				padding: 5px;
				border-bottom: 2px solid $primary;
				display: inline-block;
				margin-left:10px;
			}
			button#submitButton {
				display: block;
				padding:10px 15px;
				background-color: #9a031e;	
				border: 1px solid #9a031e;
				border-radius: 3px;
				margin: 0 auto;
				font-weight: bold;
				font-size: 1.05em;
			}
			.fa-times-circle {
				font-size: 1.15em; 
				margin-left: 5px;
				color: $error;
			}
			.fa-check-circle {
				font-size:1.15em;
				margin-left: 5px;
			}
			.validator-icon {
				min-width: 20px;
			}
			.validate-error {
				color: $error;
			}
		}
	}
	footer {
		background: $primary;
	}
	.paymentBlock{ 
		margin: 20px;
		div.paymentTitle {
			background: #9a031e;
			padding: 5px;
			text-align:center;
		}
		div.paymentBody, div.paymentOptions {
			padding: 10px;
			.user-loan-info {
				li {list-style-type: none;}
				span {
					color: #9a031e;
					font-weight: bold;
				}
			}
		}
		.arrows-for-payment {
			display: inline;
		}
		.divTable{
			display: table;
			width: auto;
			.divRow {
				display: table-row;
				width: auto;
				.divCell {
					float: left;
					display: table-column;
				}
			}
		}
	}
	.validate-error {
		color: #ff0000;
	}
	.clear {
		clear: both;
	}

	.btn-success {
		background-color: $button;
	}

