@import url("https://fonts.googleapis.com/css?family=Slabo");
html {
  height: 100%;
  margin: 0; }

body {
  height: 100%;
  margin: 0;
  color: #204204;
  background-color: #ffffff;
  font-family: 'Slabo', serif; }
  body nav {
    text-align: center;
    min-width: 100%;
    padding: 10px;
    font-weight: bolder;
    color: #818fa0;
    font-size: 16px;
    margin-bottom: 15px;
    background: #204204;
    font-size: 0.65em;
    font-style: italic; }
    body nav a {
      color: #818fa0; }
      body nav a:hover {
        color: #d17b0f;
        text-decoration: none; }
    body nav div.inline-navigation {
      text-align: center; }
      body nav div.inline-navigation a {
        margin: 5px;
        font-size: 1.15em; }
  body #addButtonWrapper {
    display: block;
    text-align: center;
    margin-bottom: 20px; }
    body #addButtonWrapper .btn-primary {
      color: #818fa0;
      background-color: #8d6879; }
  body .formwrapper {
    background-color: #818fa0;
    border: white 2px solid;
    border-radius: 10px;
    padding: 20px 20px 20px 30px;
    width: max-content;
    margin: 0 auto; }
    body .formwrapper .labelForInput {
      color: white;
      text-align: left;
      font-size: 1.15em; }
    body .formwrapper .inputwrapper {
      background: white;
      margin-bottom: 10px;
      text-align: left;
      padding-left: 10px;
      border-radius: 5px; }
    body .formwrapper form input[type="text"] {
      width: 80%;
      border: none;
      padding: 5px;
      display: inline-block;
      margin-left: 10px; }
    body .formwrapper form .fa-times-circle {
      font-size: 1.15em;
      margin-left: 5px;
      color: red; }
    body .formwrapper form .fa-check-circle {
      font-size: 1.15em;
      margin-left: 5px; }
    body .formwrapper form .validator-icon {
      min-width: 20px; }
    body .formwrapper form .validate-error {
      color: red; }
  body .payoffCell {
    border: #969393 1px solid;
    padding: 10px 0 0 0;
    text-align: center; }
    body .payoffCell .infoBox {
      padding-top: 10px;
      border-top: 2px solid #818fa0; }
    body .payoffCell .infoBox, body .payoffCell .edit-buttons {
      background-color: #FAF6F6;
      padding-bottom: 10px; }
    body .payoffCell .edit-buttons a {
      display: inline-block;
      font-size: 1.25em;
      background-color: #FAF6F6;
      color: #8d6879; }
      body .payoffCell .edit-buttons a:hover {
        color: #d17b0f;
        text-decoration: none; }
    body .payoffCell .edit-buttons span.clickableSpan {
      cursor: pointer;
      font-size: 1.25em;
      color: #8d6879; }
      body .payoffCell .edit-buttons span.clickableSpan:hover {
        color: #d17b0f; }
    body .payoffCell .paymentdetailsbox div:first-child {
      width: fit-content;
      margin: 0 auto;
      padding: 15px;
      border: 2px #969393 dashed;
      border-radius: 5px 20px 5px;
      margin-bottom: 10px; }
    body .payoffCell .paymentdetailsbox span.small-circle {
      text-align: center;
      border: 1px solid black;
      border-radius: 50%;
      margin: 10px;
      width: 62.5px;
      height: 62.5px;
      display: inline-block;
      line-height: .75em;
      font-size: .75em;
      padding: 7px; }
      body .payoffCell .paymentdetailsbox span.small-circle svg {
        display: block;
        margin: 0 auto;
        margin-bottom: 5px; }

/*# sourceMappingURL=App.css.map */
