@import url("https://fonts.googleapis.com/css?family=Merriweather");
body {
  color: #d17b0f;
  background-color: #ffffff;
  font-family: 'Merriweather', serif;
  font-color: #000000; }

.col-lg-4, .col-sm-4 {
  padding: 20px;
  border-bottom: 1px solid; }

nav {
  min-width: 100%;
  padding: 10px;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 15px; }
  nav p {
    font-size: 0.65em;
    font-style: italic; }

.container {
  padding: 20px;
  text-align: center; }
  .container form {
    padding: 15px; }
    .container form error {
      padding: 0; }
    .container form input {
      background: transparent;
      color: #d17b0f;
      border: none;
      padding: 5px;
      border-bottom: 2px solid #9a031e;
      font-size: 1.25em;
      display: inline;
      margin-left: 10px; }

button#submitButton {
  display: block;
  padding: 10px 15px;
  background-color: #9a031e;
  border: 1px solid #9a031e;
  border-radius: 3px;
  color: #d17b0f;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.05em; }

.paymentBlock {
  margin: 20px; }
  .paymentBlock div.paymentTitle {
    background: #9a031e;
    padding: 5px;
    text-align: center; }
  .paymentBlock div.paymentBody, .paymentBlock div.paymentOptions {
    padding: 10px; }
    .paymentBlock div.paymentBody .user-loan-info li, .paymentBlock div.paymentOptions .user-loan-info li {
      list-style-type: none; }
    .paymentBlock div.paymentBody .user-loan-info span, .paymentBlock div.paymentOptions .user-loan-info span {
      color: #9a031e;
      font-weight: bold; }

.clear {
  clear: both; }
