@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
	color: #d17b0f;
	background-color: #ffeac9;
	font-family: 'Merriweather', serif;
}

nav {
	min-width: 100%;
	padding: 10px;
	font-weight: bolder;
	font-size: 16px;
	margin-bottom: 15px;
	p {
		font-size: 0.65em;
		font-style: italic;
	}
}

.container {
	padding: 20px;
	text-align: center;
	form {
		padding: 15px;
		error {
			padding: 0;
		}
		input {
			background: transparent;
			color: #d17b0f;
			border: none;
			padding: 5px;
			border-bottom: 2px solid #9a031e;
			font-size: 1.25em;
			display: inline;
			margin-left:10px;
		}
	}
}
button#submitButton {
	display: block;
	padding:10px 15px;
	background-color: #9a031e;	
	border: 1px solid #9a031e;
	border-radius: 3px;
	color: #d17b0f;
	margin: 0 auto;
	font-weight: bold;
	font-size: 1.05em;
}

.paymentBlock{ 
	float: left;
	background: rgba(161,204,133,0.5);
	color:#000;
	margin: 20px 10px 10px 10px;
	div.paymentTitle {
		position: relative;
		background: #9a031e;
		color: #fff;
		padding: 5px;
		text-align:center;
	}
	div.paymentBody, div.paymentOptions {
		padding: 10px;
	}
}

.clear {
	clear: both;
}